Library/PlayerDataCache/Win64/Data/sharedassets0.resource
Library/ArtifactDB
Sam World 1_Data/sharedassets0.resource"
Sam World 1_Data/sharedassets0.assets
Sam World 1_Data/sharedassets0.resource
Library/PlayerDataCache/Win64/Data/sharedassets0.assets
Library/PlayerDataCache/Win64/Data/sharedassets1.resource
Library/PlayerDataCache/Win64/Data/sharedassets1.resource
Library/PlayerDataCache/Win64/Data/sharedassets1.resource
Library/PlayerDataCache/Win64/Data/sharedassets1.resource
